-mission
$mission
-ref
$referencePolygons
-ratio
$ratio
-input
$inputFiles
-trm
$tempResampling
-rate
$samplingRate
-classifier
$classifier
-rseed
$randomSeed
-mask
$cropMask
-pixsize
$pixelSize
-tilename
$tileName
-outdir
$HOME/CropType/out
-targetfolder
$HOME/CropType/out
-rfnbtrees
$trainingNoTrees
-rfmax
$maxDepthTrees
-rfmin
$minNoSamples
-siteid
$siteId