-ref
$referencePolygons.AbsolutePath
-input
#foreach ($inputFile in $inputFiles)
$inputFile.AbsolutePath
#end
-t0
$t0
-tend
$tend
-rate
$samplingRate
-rseed
$randomSeed
-pixsize
$pixelSize
-mask
$cropMask
-outdir
$WORKING_DIR_PATH