-mission
$mission
-ref
$referencePolygons
-ratio
$ratio
-input
$inputFiles
-trm
$tempResampling
-rate
$samplingRate
-classifier
$classifier
-rseed
$randomSeed
-mask
$cropMask
-pixsize
$pixelSize
-tilename
$tileName
-outdir
$WORKING_DIR_PATH/CropType/out
-buildfolder
$SENTINEL_BUILD_PATH
-targetfolder
$WORKING_DIR_PATH/CropType/out
-rfnbtrees
$trainingNoTrees
-rfmax
$maxDepthTrees
-rfmin
$minNoSamples