--applocation
$SENTINEL_BUILD_PATH
--syntdate
$synthesysDate
--synthalf
$halfSynthesis
--input
$inputFiles
--res
$resolution
--outdir
$WORKING_DIR_PATH/Composite/out
--bandsmap
$bandsMappingFile
--tileid
$tileId