--applocation
$SENTINEL_BUILD_PATH
--syntdate
$syntdate
--synthalf
$halfSynthesis
--input
$inputFiles
--res
$resolution
--t0
$t0
--tend
$tend
--outdir
$WORKING_DIR_PATH/Composite/out
--bandsmap
$bandsMappingFile