-refp
$refp
-ratio
$ratio
-input
$inputFiles
-t0
$t0
-tend
$tend
-rate
$rate
-radius
$radius
-nbtrsample
$nbtrsample
-rseed
$rseed
-window
$window
-lmbd
$lmbd
-weight
$weight
-nbcomp
$nbcomp
-spatialr
$spatialr
-ranger
$ranger
-minsize
$minsize
-eroderad
$eroderad
-alpha
$alpha
-rfnbtrees
$rfnbtrees
-rfmax
$rfmax
-rfmin
$rfmin
-minarea
$minarea
-pixsize
$pixsize
-tilename
$tilename
-outdir
$WORKING_DIR_PATH/CropMask/out
-buildfolder
$SENTINEL_BUILD_PATH
-targetfolder
$WORKING_DIR_PATH/CropMask/out