-mission
$mission
-refp
$refPolygons
-ratio
$ratio
-input
$inputFiles
-trm
$tempResampling
-nbtrsample
$noSamples
-rseed
$randomSeed
-window
$window
-lmbd
$lambdaParam
-weight
$weightFactor
-nbcomp
$noComponents
-spatialr
$spatialRadius
-ranger
$rangeRadius
-minsize
$minsize
-eroderad
$erosionRadius
-alpha
$alphaParam
-rfnbtrees
$noTrainingTrees
-rfmax
$maxDepthTrees
-rfmin
$minDepthTrees
-minarea
$minPixelArea
-pixsize
$pixelSize
-tilename
$tileName
-outdir
$WORKING_DIR_PATH/CropMask/out
-buildfolder
$SENTINEL_BUILD_PATH
-targetfolder
$WORKING_DIR_PATH/CropMask/out