-mission
$mission
#if ($referencePolygons == "/")
-refr
$referenceRaster
#else
-refp
$referencePolygons
#end
-input
$inputFiles
-prodspertile
$productsPerTile
-rseed
$randomSeed
-pixsize
$pixelSize
-outdir
$outputDir
#if ($strataShapefiles != "/")
-strata
$strataShapefiles
#end
-skip-segmentation
$skipSegmentation