--input
$inputFiles
--res
$resolution
--outdir
$WORKING_DIR_PATH
--rsrcfg
$RSRConfigFile
--generatemodel
$generateModel
--generatemonodate
$generateMonoDate
--genreprocessedlai
$generateReprocessedLai
--genfittedlai
$generateFittedLai
