--input
$inputFiles
--res
$resolution
--outdir
$WORKING_DIR_PATH
--rsrcfg
/usr/share/sen2agri/rsr_cfg.txt
--modelsfolder
$modelsFolder
--generatemodel
$generateModel
--generatemonodate
$generateMonoDate
--genreprocessedlai
$generateReprocessedLai
--genfittedlai
$generateFittedLai
