--applocation
$SENTINEL_BUILD_PATH
--input
$inputFiles
--res
$resolution
--t0
$t0
--tend
$tend
--outdir
$WORKING_DIR_PATH/VegetationLAI/out
--rsrfile
$RSRFile
--solarzenith
$solZenAngle
--sensorzenith
$senZenAngle
--relativeazimuth
$relAzmAngle