--working-dir
$WORKING_DIR_PATH
--srtm
$SRTMDataset.AbsolutePath
--swbd
$SWBDDataset.AbsolutePath
--processes-number-dem
$processNumber
--gipp-dir
$gipDirectory.AbsolutePath
--maccs-launcher
$MACCSLauncher.AbsolutePath
--delete-temp
False
$inputProductDir.AbsolutePath
$outDir.AbsolutePath