--srtm
$SRTMDataset
-w
$workingDir
--swbd
$SWBDDataset
-p
$processNumber
--gip-dir
$gipDirectory
--maccs-address
$MACCSAddress
--maccs-launcher
$MACCSLauncher
--dem-launcher
$DemLauncher
$inputProductDir
$outDir