$SCRIPT_PATH/CropMask.py
-refp
$refp
-ratio
$ratio
-input
$inputFiles
-t0
$t0
-tend
$tend
-rate
$rate
-radius
$radius
-nbtrsample
$nbtrsample
-rseed
$rseed
-lmbd
$lmbd
-weight
$weight
-nbcomp
$nbcomp
-spatialr
$spatialr
-ranger
$ranger
-minsize
$minsize
-refr
$refr
-eroderab
$eroderab
-alpha
$alpha
-rfnbtrees
$rfnbtrees
-rfmax
$rfmax
-rfmin
$rfmin
-pixsize
$pixsize
-outdir
$outdir