/* This file contains the styles for the dashboard page. */
html, body {
	height: 100%;
}

.container {
	height: 100%;
	display: table;
}

.nav-tabs {
	margin-top: 10px;
	margin-bottom: 0;
	font-weight: bold;
	min-width: 80vw;
}

.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-radius: 0px 0px 5px 5px;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	height: 93vh;
	min-width: 80vw;
}

.tab-pane {
	height: 100%;
}

div.panel {
	margin-bottom: 10px;
}

div.panel-heading {
	font-weight: bold;
}

div.panel-heading.smaller_padding {
	padding: 2px 15px;
}

div.panel div.full_width {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
}

div.panel div.full_height {
	height: 95%;
	margin-top: auto;
	margin-bottom: auto;
}

div.panel table {
	border-collapse: initial
}

div.panel table.full_width {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
}

div.panel table.full_height {
	height: 95%;
	margin-top: auto;
	margin-bottom: auto;
}

div.panel table.table th {
	margin: auto;
	vertical-align: middle;
	text-align: center;
}

div.panel table.table td {
	margin: auto;
	vertical-align: middle;
	text-align: center;
	font-size: 10px;
}

div#pnl_current_jobs table td
{
	padding: 4px;
	font-size: 12px;
}

div#pnl_current_jobs table td {
	border-top: 2px solid #eaeaea;
}

div#pnl_current_jobs table td:nth-child(1):nth-last-child(2),
div#pnl_current_jobs table td:nth-child(2):nth-last-child(1)
{
	border-top: 1px dotted #eaeaea;
}

div#pnl_current_jobs table td:nth-child(8),
div#pnl_current_jobs table td:nth-child(1):nth-last-child(2)
{
	padding: 1px;
	font-size: 11px;
	text-align: left;
}

div#pnl_current_jobs table td:nth-child(9),
div#pnl_current_jobs table td:nth-child(2):nth-last-child(1)
{
	padding: 1px;
	font-size: 11px;
}

div.panel table.default_panel_style th, div.panel table.default_panel_style td
{
	text-align: left;
}

div.panel table.default_panel_style tr :nth-child(1) {
	padding-left: 10%;
	width: 50%;
}

div.panel table.default_panel_style tr :nth-child(2) {
	
}

div.panel table.server_resources_table {
	height: 87%;
	width: 48%;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	box-sizing: border-box;
}

div.panel table.server_resources_table tbody {
	display: table;
	height: 100%;
	width: 100%;
}

div.panel table.server_resources_table tr {
	display: table-row;
	height: 18%;
}

div.panel table.server_resources_table tr:first-child {
	display: table-row;
	height: 10%;
}

div.panel table.server_resources_table tr:last-child {
	display: table-row;
	height: 0%;
}

div.panel table.server_resources_table th:nth-child(1) {
	text-align: left;
}

div.panel table.server_resources_table tr td {
	padding: 0px;
}

div.panel table.server_resources_table tr td:nth-child(1) {
	width: 10%;
}

div.panel table.server_resources_table tr td:nth-child(2) {
	width: 20%;
}

div.panel table.server_resources_table tr td:nth-child(3) {
	width: 70%;
}

div.panel table.server_resources_table div.server_resources_table_graph {
	display: inline-block;
	height: 90%;
	min-height: 65px;
	width: 100%;
}

div.float_left {
	float: left;
}

div.full_height {
	height: 100%;
}

div.full_width {
	width: 100%;
}

#pnl_current_jobs_container {
	height: 50%;
	width: 100%;
}

#pnl_current_jobs {
	height: 98%;
	width: 100%;
	overflow: auto;
	bottom: 2%;
	font-size: 0.75em;
}

#pnl_current_jobs table:first-of-type tr td:last-of-type {
	min-width: 190px;
}

#pnl_server_resources_container {
	height: 50%;
	width: 100%;
}

#pnl_server_resources {
	height: 100%;
	width: 100%;
	overflow: auto;
	margin-bottom: 0px;
	font-size: 0.75em;
}

div.panel_resources_and_output_container {
	height: 40%;
	width: 50%;
	float: left;
}

div.panel_resources_container {
	height: 70%;
	width: 100%;
}

div.panel_output_container {
	height: 30%;
	width: 100%;
}
div.panel_resources, div.panel_output {
	height: 98%;
	width: 100%;
	overflow: auto;
	margin: 0;
}

div.panel_configuration_container {
	height: 40%;
	width: 50%;
	float: left;
}

div#tab_control>div>a.active,
div#tab_control>div:target>a{background-color:#dbecb9;padding:6px}
div#tab_control>div:target>div{z-index:999}
div#tab_control>div>div{padding:10px}
div#tab_control div.dash_panel div.panel {border-radius:0}
div#tab_control div.panel-heading{background-color:#dbecb9;background-image:none}
div#tab_control div.dash_panel{font-family:Arial,Helvetica,sans-serif}
div#tab_control div.dash_panel tr>th{line-height:1em;padding:5px 0px 5px 10%}
div#tab_control div.dash_panel tr>td{line-height:1em;padding:5px 0;font-size:0.9em}

/*added for  scheduled tasks*/
div.panel_scheduled_container {
	clear: both;
	margin-top: 4px; 
	height: 60%;
	width: 100%;
	float: left;
}

div.panel_scheduled {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	margin-bottom: 0px;
}

div.panel_scheduled_job {
	height: 87%;
	width: 100%;
	overflow: auto;
	margin-bottom: 0px;
	border:0;
	border-radius:0;
}

div.panel_job_container {
	/*margin-top: 3px; 
	height: 71%;*/
	width: 98%;
	margin-right: 2%;
}

.span-scheduled{
	margin-left:5px;
	/*font-weight:200;*/
   /* width:50px;*/
}

div.panel_job {
	/*height: 100%;*/
	width: 98%;
	overflow: auto;
	margin-bottom: 0px;
	margin-left: 2%;
}

/*end scheduled tasks*/

div.panel_configuration {
	height: 100%;
	width: 98%;
	overflow: auto;
	margin-bottom: 0px;
	margin-left: 2%;
}

div.dropdown .btn .caret {
	margin-left: 3px;
}

div.parent_for_pop_up {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 990;
	background-color: rgba(0, 0, 0, 0.6);
}

div.pop_up {
	display: none;
	position: absolute;
	overflow: visible;
	margin: auto;
	z-index: 999;
	background-color: #FFFFFF;
	border: 1px solid #222222;
	box-shadow: 5px 5px 5px #888888;
	padding: 10px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
div.pop_up #close_button {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 2px;
}

.hand_cursor:hover {
	cursor: pointer;
}

* {
	box-sizing: content-box;
}

#submitedform {
	color: green;
}


.control-max-width{
	display:inline-block;
	width:150px;
}

.control-max-width-lai{
	display:inline-block;
	width:132px;
}

.form-group-sm .form-control {
	height: 22px;
}

.form-group-sm select.form-control {
	height: 22px;
	line-height: 22px;
}

.sensor label {
	margin: 0px 15px 0px 0px;
	cursor: pointer;
}

.sensor   input[type=checkbox].form-control,
.subgroup input[type=checkbox].form-control,
.sensor   input[type=radio].form-control,
.subgroup input[type=radio].form-control {
	cursor: pointer;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0px 2px 0px 0px;
	padding: 0px;
}

.subgroup {
	border: 1px solid #cccccc;
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
}

.subgroup > label {
    background-color: #f4f2e1;
    width: 100%;
    padding: 10px;
    margin: -10px 0px 0px -10px;
}

.subgroup div {
	margin: 10px 0px 10px 30px;
}

.subgroup input,
.subgroup select {
	width: 50%;
}

.lai > label {
	margin-bottom: 10px;
}

.lai > div > label {
	cursor: pointer;
	margin: 0px;
	font-weight: 400;
}
.lai .help-block {
	display: inline-block;
	float: right;
}

/* LOGIN STYLES -------------------------------------------------- */
#signin {
	display: block;
	background-color: #ffffff;
	margin: 0px auto;
	border-radius: 4px;
	border: 1px solid #D8DDE6;
	color: #16325c;
	width: 300px;
	padding: 20px;
}
#signin label {
	font-size: 12px;
	font-weight: 400;
	color: #54698d;
	margin: 0px;
}
#signin input[type="text"], #signin input[type="password"] {
	display: block;
	width: 100%;
	padding: 10px;
	margin-top: 8px;
	margin-bottom: 16px;
	height: 36px;
	border: 1px solid #D8DDE6;
	border-radius: 4px;
	background-color: #ffffff;
	font-family: SFS, Arial, sans-serif;
	box-sizing: border-box;
	-webkit-appearance: none;
	font-size: 14px;
}
#signin input[type="submit"] {
	width: 100%;
	background-color: #93BA47;
	color: white;
	font: 22px/40px "Roboto Condensed", Arial, Helvetica, sans-serif;
	text-shadow: 0px -1px 0px #607725;
	transition: all 0.1s;
	border: 1px solid transparent;
	border-radius: 4px;
}
.vspace { height: 50px; }
.error {
	color: red;
	text-align: center;
	padding-top: 5px;
	
}
.message_footer {
    top: -48px;
	padding-right: 100px;
    display: block;
    position: relative;
	float: right;
	font-size: 12px;
}

.schedule_format{
	font-weight:200;
	padding: 3px;
}

input.right {
   /* float: right;*/
  /*  border-color:#204d74;*/
 	font-weight:200;
    color:#fff;
    background-color: #336699;
   padding-left: 4px;
	padding-right: 4px;

}

.debug {
	color: white;
	font-size: 12px;
	text-align: left;
}

/* END LOGIN STYLES ---------------------------------------------- */
.tree {
	width: 370px;
	height:550px;
	overflow: scroll;
	border: 1px solid #94BA49;
	background-color: white;
}

.map {
	width: 650px;
	height:550px;
	border: 1px solid #94BA49;
}

.help-block {
	font-size: 12px;
	margin-bottom: 0px;
}

.required .control-label:after {
  content:"*";
  font-size: 18px;
  font-weight: 700;
  color:red;
}

/* SITES related styles --------------------------------------------- */
div.create-site .panel-heading{margin-top:-10px}
div.create-site table.table{margin:0px}
div.create-site table.table tr th{font-weight:700}
div.create-site table.table tr:first-child th:last-child{text-align:center}
div.create-site table.table th{background-color:#E9E9E9;border:0px solid transparent;text-align:left;font-weight:400;padding:2px 8px;}
div.create-site table.table tr.editing{background-color:#8BB245;color:white;}
div.create-site table.table tr:hover{background-color:#E7F3D0;}
div.create-site table.table td{font-size:12px;text-align:left;padding:2px 4px;}
div.create-site table.table th.seasons,
div.create-site table.table td.seasons,
div.create-site table.table td:last-child{text-align:center;}
div.create-site table.table tr td a{cursor:pointer;color:#009C00;font-size:1.1em;font-weight:700;cursor:pointer;text-decoration:underline;}
div.create-site table.table tr td a:hover{color:#5CB85C;}
div.create-site table.table tr.editing td a{color:white;}

div.create-site table.table input[type="checkbox"]{margin:0;height:12px;display:none}
div.create-site .bootstrap-switch.bootstrap-switch-mini span{padding:0px;font-size:10px;}

div.create-site table.subtable{width:100%;max-width:100%}
div.create-site table.subtable th{width:20%;font-size:0.8em;text-align:center;padding:2px 4px}
div.create-site table.subtable {width:100%;max-width:100%}
div.create-site table.subtable td{width:20%;text-align:center}
div.create-site table.subtable th:first-child,
div.create-site table.subtable td:first-child{text-align:left}

div#site-seasons{text-align:center;width:104%}
div#site-seasons img{border:0}
div#site-seasons .icon{border:1px solid transparent;border-radius:5px;width:22px;height:18px;padding:0;background-position:50% 50%;background-repeat:no-repeat;background-color:transparent}
div#site-seasons .icon:hover{border-color:#7eaf50}
div#site-seasons input{padding:0;border-radius: 0;box-shadow:none;-webkit-box-shadow:none}
div#site-seasons input[name="edit"]{background-image: url(../images/edit.png)}
div#site-seasons input[name="save"]{background-image: url(../images/save.png)}
div#site-seasons input[name="remove"]{background-image: url(../images/delete.png)}
div#site-seasons input[name="add"]{background-image: url(../images/add.png)}
div#site-seasons input[name="cancel"]{background-image: url(../images/cancel.png)}
div#site-seasons div#server-response{color:red}

div.add-edit-site table.edit {width:100%;border-width:1px 1px 0 1px;border-style:solid;border-color:#cccccc;border-radius:3px;border-collapse: separate !important;}
div.add-edit-site table.edit th{line-height:2.5em;background-color:#eeeeee}
div.add-edit-site table.edit th,
div.add-edit-site table.edit td{text-align:center;border:0;padding:2px;border-bottom:1px solid #cccccc}
div.add-edit-site table.edit tr:last-child td{vertical-align:top}
div.add-edit-site table.edit tr:last-child td>div{margin-top:1px}
div.add-edit-site table.edit th{padding:5px;line-height:1em}
div.add-edit-site table.edit th.action{min-width:60px}
div.add-edit-site table.edit td input{text-align:center}
div.add-edit-site table.edit td input[type="checkbox"]{width:auto;display:inline;height:auto;cursor:default}
div.add-edit-site table.edit td div.proc{position:relative;min-height:22px}
div.add-edit-site table.edit td div.proc h2{font-family:Arial;font-size:0.8em;color:#0058ff;padding-top:5px;margin:0}
div.add-edit-site table.edit td div.proc div{display:none;position:absolute;left:0;top:0;padding:5px;min-width:70px;text-align:left;z-index:998}
div.add-edit-site table.edit td div.proc input{margin:0}
div.add-edit-site table.edit td div.proc label{font-weight:400;display:block}
div.add-edit-site table.edit td div.proc span{display:block;white-space:nowrap;font-size:0.8em;color:#285e80;font-size:0.85em;line-height:1.2em}
div.add-edit-site table.edit tr:not(:last-child) div.proc:hover h2{display:none}
div.add-edit-site table.edit tr:not(:last-child) div.proc:hover div{display:block;background-color:white;border:1px solid #cccccc;z-index:999}
div.add-edit-site table.edit tr:not(:last-child) div.proc:hover div input{display:none}
div.add-edit-site table.edit tr:last-child td div.proc h2{display:none}
div.add-edit-site table.edit tr:last-child td div.proc div{display:block;position:relative}

div.add-edit-site form {
	font: 14px Arial, Helvetica, sans-serif;
	margin: 15px;
}
div.add-edit-site .col-md-1 {
	width: 90%;
}
div.add-edit-site .col-md-2 {
	width: 42%;
}
div.add-edit-site .form-group {
	margin-bottom: 15px;
}
div.add-edit-site .submit-buttons {
	text-align: right;
}
div.add-edit-site .submit-buttons input.add-edit-btn {
	padding: 10px 20px;
	margin-left: 15px;
	border-radius: 10px;
}

input.add-edit-btn,
.config input[type="submit"] {
	font-family:Arial,Helvetica,sans-serif;
	border: 0px solid transparent;
	outline: 0px solid transparent;
	padding: 10px;
	background-color: #7EAF50;
	color: white;
	text-align: left;
	font-size: 1.1em;
	font-weight: 400;
}
input.add-edit-btn:not(:disabled):hover,
.config input[type="submit"]:not(:disabled):hover {
	background-color: #99BF52;
	color: yellow;
}
input.add-edit-btn:active,
.config input[type="submit"]:active {
	background-color: #7EAF50;
	color:yellow;
}
input.add-edit-btn:disabled{
	background-color: #cccccc;
}
/* End SITES related styles --------------------------------------------- */

/* Dashboard Scheduled Jobs --------------------------------------------- */
.schedule-table{display:table;width:98%;margin:1%;border:1px solid #dddddd}
.schedule-table.add-button{border:0}
.schedule-table.add-button .button{width:200px;font-size:1.3em}
.schedule-header{display:table-row}
.schedule-header span{display:table-cell;font-size:1.2em;font-weight:700;line-height:2em;height:40px;vertical-align:middle;background-color:#E9E9E9;padding:3px}
.schedule-row{display:table-row}
.schedule-row span{display:table-cell;padding:2px;border-top:1px solid #dddddd}
.schedule-row input,
.schedule-row select{border:1px solid #cdcdcd}
.schedule-row select{padding:2px}
.schedule-row select[name="schedule"],
.schedule-row select[name="schedule_add"]{width:100px}
.schedule-row select[name="product_add"]{width:80px}
.schedule-row input[type="number"]{width:30px;text-align:center}
.schedule-row input[type="submit"]{padding:4px 20px;border:0}
.schedule-row:nth-of-type(odd) {background-color: #f9f9f9}
.schedule-row:hover{background-color:#E7F3D0}
.schedule-row .error {display:block;text-align:left}
.shedule-row-add{height:45px;background-color: #bce893  !important;}
.shedule-row-add span{padding-top:10px}
/* End SITES related styles --------------------------------------------- */


.panel {
	position: relative;
}

.panel .collapsing .control_advanced {
	display: none;
}

.control_advanced {
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 0px;
	padding: 11px;
	color: #587b1d;
	font-size: 13px;
	font-weight: 400;
}

.control_advanced input {
	float: left;
	margin: 0px 5px;
}
.control_advanced:hover {
	text-decoration: underline;
}

.config div.panel-heading{padding:0px}
.config h4.panel-title a,.config h4.panel-title span{display:inline-block;width:98%;text-decoration:none;padding:10px;background-color:#dbecb9}
.config h4.panel-title a:hover{background-color:#bcd68c}

div.for-table h4.panel-title span,
div.for-table h4.panel-title a{display:inline-block;width:98%;text-decoration:none;padding:10px;background-color:#dbecb9;font-weight:700}
div.for-table h4.panel-title a:hover{background-color:#bcd68c}
div.for-table table.table{margin:0px}
div.for-table table.table th{background-color:#E9E9E9;border:0px solid transparent;text-align:left;font-weight:700;padding:8px 4px}
div.for-table table.table tr:hover{background-color:#E7F3D0}
div.for-table table.table tr td{font-size:0.8em;line-height:1.5;text-align:left;padding:3px 8px}
div.for-table table.table tr td a{cursor:pointer;color:#009C00;font-size:1.1em;font-weight:700;cursor:pointer;text-decoration:underline}
div.for-table table.table tr td a:hover{color:#5CB85C}

/* ---------------- PAGINATION ---------------- */
.pagination{font-size:14px;display:inline-block;position:relative;zoom:1;*display:inline;width:100%;margin:0}
.pagination label.rows_per_page{float:left;margin:0;padding:2px;font-weight:700}
.pagination select.rows_per_page{width:50px;height:20px;border:1px solid #bdcbbd;padding:2px;margin-left:5px;font-weight:400}
.pagination ul.pages{list-style:none;float:left;margin:0;padding:0;white-space:nowrap;float:right}
.pagination ul.pages li{float:left;padding:0;cursor:pointer;margin:0 0 0 2px}
.pagination ul.pages li a{width:16px;height:15px;display:inline-block;text-align:center;text-decoration:none;color:#555555;margin:0;border:1px solid #afbeb0;background-color:#e6eae5}
.pagination ul.pages li a span{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.pagination ul.pages li.number a{padding:5px 7px}
.pagination ul.pages li a:hover{border:1px solid #8c9b8c}
.pagination ul.pages li.current a,.pagination ul.pages li.current a:hover{color:#2c3635;border:1px solid #8c9b8c;background:#fff;cursor:default;font-weight:700}
.pagination ul.pages li.dotdotdot a{border:1px solid #bdcbbd;background-color:#d2d8d0;padding:5px 1px;font-weight:700}
.pagination ul.pages li.dotdotdot a:hover{border:1px solid #8c9b8c;background:#555555;color:#fff}
.pagination ul.pages li.prev{margin-left:10px}
.pagination ul.pages li.next{margin-left:2px}
.pagination ul.pages li.prev a,.pagination ul.pages li.next a{width:50px}
.pagination ul.pages li.prev a{padding:5px 0 5px 15px;border-radius:8px 0 0 8px;background:#e6eae5 url("/scripts/pager/images/prev-pale.png") no-repeat left 0}
.pagination ul.pages li.next a{padding:5px 15px 5px 0;border-radius:0 8px 8px 0;background:#e6eae5 url("/scripts/pager/images/next-pale.png") no-repeat right 0}
.pagination ul.pages li.prev a:hover,.pagination ul.pages li.next a:hover{border:1px solid #8c9b8c;color:#555555}
.pagination ul.pages li.prev a:hover{background-position:left -25px}
.pagination ul.pages li.snext a:hover{background-position:right -25px}
.pagination ul.pages li.prev a:active{background-position:left -50px}
.pagination ul.pages li.next a:active{background-position:right -50px}
.pagination ul.pages li.prev a.disabled,.pagination ul.pages li.prev a.disabled:hover,.pagination ul.pages li.next a.disabled,.pagination ul.pages li.next a.disabled:hover{color:#93aa99;border:1px solid #bdcbbd;cursor:default}
.pagination ul.pages li.prev a.disabled,.pagination ul.pages li.prev a.disabled:hover{background:#e6eae5 url("/scripts/pager/images/prev.png") no-repeat left -50px}
.pagination ul.pages li.next a.disabled,.pagination ul.pages li.next a.disabled:hover{background:#e6eae5 url("/scripts/pager/images/next.png") no-repeat right -50px}
.pagination div.gotobox{display:block;font-size:12px;width:140px;border:1px solid #afbeb0;z-index:99;margin:0;padding:0 4px 7px 7px;position:absolute;top:36px;border-radius:4px;background-color:#edf1ec}
.pagination div.gotobox div.text{padding:0;float:left;margin:5px 3px}
.pagination div.gotobox a.smbutton-go{display:inline-block;margin:0 3px 0 0 !important;padding:5px 8px !important;border-radius:0 5px 5px 0}
.pagination div.gotobox a.smbutton-green{background:#e6eae5 url("/scripts/pager/images/next-pale.png") no-repeat left 0;border:1px solid #8c9b8c;color:#555555}
.pagination div.gotobox input[type="text"]{display:block;float:left;margin:0;letter-spacing:-0.25px;border:1px solid #8c9b8c;border-right-width:0;padding:5px 4px;background:#f7f7f7;border-radius:3px 0 0 3px;width:22px;vertical-align:top}
.pagination div.gotobox div.uparrow{background:url("/scripts/pager/images/gotobox-uparrow.png") no-repeat top center;height:7px;position:relative;display:block;float:left;top:-7px;width:100%;margin:0}
/* ---------------- END PAGINATION ---------------- */
