/* This file contains the styles for the dashboard page. */
html, body {
	height: 100%;
}

.container {
	height: 100%;
	display: table;
}

.nav-tabs {
	margin-top: 10px;
	margin-bottom: 0;
	font-weight: bold;
	min-width: 80vw;
}

.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-radius: 0px 0px 5px 5px;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	height: 93vh;
	min-width: 80vw;
}

.tab-pane {
	height: 100%;
}

div.panel {
	margin-bottom: 10px;
}

div.panel-heading {
	font-weight: bold;
}

div.panel-heading.smaller_padding {
	padding: 2px 15px;
}

div.panel div.full_width {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
}

div.panel div.full_height {
	height: 95%;
	margin-top: auto;
	margin-bottom: auto;
}

div.panel table {
	border-collapse: initial
}

div.panel table.full_width {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
}

div.panel table.full_height {
	height: 95%;
	margin-top: auto;
	margin-bottom: auto;
}

div.panel table.table th {
	margin: auto;
	vertical-align: middle;
	text-align: center;
}

div.panel table.table td {
	margin: auto;
	vertical-align: middle;
	text-align: center;
	font-size: 10px;
}

div.panel table#history_jobs td,
div#pnl_current_jobs table td
{
	padding: 4px;
	font-size: 12px;
}

div#pnl_current_jobs table td {
	border-top: 2px solid #eaeaea;
}

div#pnl_current_jobs table td:nth-child(1):nth-last-child(2),
div#pnl_current_jobs table td:nth-child(2):nth-last-child(1)
{
	border-top: 1px dotted #eaeaea;
}

div#pnl_current_jobs table td:nth-child(8),
div#pnl_current_jobs table td:nth-child(1):nth-last-child(2)
{
	padding: 1px;
	font-size: 11px;
	text-align: left;
}

div#pnl_current_jobs table td:nth-child(9),
div#pnl_current_jobs table td:nth-child(2):nth-last-child(1)
{
	padding: 1px;
	font-size: 11px;
}

div.panel table.default_panel_style th, div.panel table.default_panel_style td
	{
	/*padding: 13px 5px;*/
	text-align: left;
}

div.panel table.default_panel_style tr :nth-child(1) {
	padding-left: 10%;
	width: 50%;
}

div.panel table.default_panel_style tr :nth-child(2) {
	
}

div.panel table.server_resources_table {
	height: 87%;
	width: 48%;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	box-sizing: border-box;
}

div.panel table.server_resources_table tbody {
	display: table;
	height: 100%;
	width: 100%;
}

div.panel table.server_resources_table tr {
	display: table-row;
	height: 18%;
}

div.panel table.server_resources_table tr:first-child {
	display: table-row;
	height: 10%;
}

div.panel table.server_resources_table tr:last-child {
	display: table-row;
	height: 0%;
}

div.panel table.server_resources_table th:nth-child(1) {
	text-align: left;
}

div.panel table.server_resources_table tr td {
	padding: 0px;
}

div.panel table.server_resources_table tr td:nth-child(1) {
	width: 10%;
}

div.panel table.server_resources_table tr td:nth-child(2) {
	width: 20%;
}

div.panel table.server_resources_table tr td:nth-child(3) {
	width: 70%;
}

div.panel table.server_resources_table div.server_resources_table_graph
	{
	display: inline-block;
	height: 90%;
	min-height: 65px;
	width: 100%;
}

div.float_left {
	float: left;
}

div.full_height {
	height: 100%;
}

div.full_width {
	width: 100%;
}

#pnl_current_jobs_container {
	height: 50%;
	width: 100%;
}

#pnl_current_jobs {
	height: 98%;
	width: 100%;
	overflow: auto;
	bottom: 2%;
	font-size: 0.75em;
}

#pnl_current_jobs table:first-of-type tr td:last-of-type {
	min-width: 190px;
}

#pnl_server_resources_container {
	height: 50%;
	width: 100%;
}

#pnl_server_resources {
	height: 100%;
	width: 100%;
	overflow: auto;
	margin-bottom: 0px;
	font-size: 0.75em;
}

div.panel_resources_and_output_container {
	height: 50%;
	/*height: 100%;*/
	width: 50%;
	float: left;
}

div.panel_resources_container {
	height: 50%;
	width: 100%;
}

div.panel_resources {
	height: 98%;
	width: 100%;
	overflow: auto;
	bottom: 2%;
}

div.panel_output_container {
	height: 50%;
	width: 100%;
}

div.panel_output {
	height: 100%;
	width: 100%;
	overflow: auto;
	margin-bottom: 0px;
}

div.panel_configuration_container {
	height: 50%;
	/* height: 100%;*/
	width: 50%;
	float: left;
}

/*added for  scheduled tasks*/
div.panel_scheduled_container {
	clear: both;
	margin-top: 4px; 
	height: 48%;
	width: 100%;
	float: left;
}

div.panel_scheduled {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin-bottom: 0px;
}

div.panel_scheduled_job {
	height: 87%;
	width: 100%;
	overflow: auto;
	margin-bottom: 0px;
}

div.panel_job_container {
	/*margin-top: 3px; 
	height: 71%;*/
	width: 98%;
	margin-right: 2%;
}

.span-scheduled{
	margin-left:5px;
	/*font-weight:200;*/
   /* width:50px;*/
}

div.panel_job {
	/*height: 100%;*/
	width: 98%;
	overflow: auto;
	margin-bottom: 0px;
	margin-left: 2%;
}

/*end scheduled tasks*/

div.panel_configuration {
	height: 100%;
	width: 98%;
	overflow: auto;
	margin-bottom: 0px;
	margin-left: 2%;
}

div.dropdown .btn .caret {
	margin-left: 3px;
}

div.parent_for_pop_up {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 990;
	background-color: rgba(0, 0, 0, 0.6);
}

div.pop_up {
	display: none;
	position: absolute;
	overflow: visible;
	margin: auto;
	z-index: 999;
	background-color: #FFFFFF;
	border: 1px solid #222222;
	box-shadow: 5px 5px 5px #888888;
	padding: 10px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
div.pop_up #close_button {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 2px;
}

.hand_cursor:hover {
	cursor: pointer;
}

* {
	box-sizing: content-box;
}

#submitedform {
	color: green;
}


.control-max-width{
	display:inline-block;
	width:150px;
}

.control-max-width-lai{
	display:inline-block;
	width:132px;
}

.form-group-sm .form-control {
	height: 22px;
}

.form-group-sm select.form-control {
	height: 22px;
	line-height: 22px;
}

.sensor label {
	margin: 0px 15px 0px 0px;
}

.sensor input[type=checkbox].form-control,
.subgroup input[type=checkbox].form-control {
	cursor: pointer;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0px 2px 0px 0px;
	padding: 0px;
}

.subgroup {
	border: 1px solid #cccccc;
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
}

.subgroup > label {
    background-color: #f4f2e1;
    width: 100%;
    padding: 10px;
    margin: -10px 0px 0px -10px;
}

.subgroup div {
	margin: 10px 0px 10px 30px;
}

.subgroup input,
.subgroup select {
	width: 50%;
}

.lai > label {
	margin-bottom: 10px;
}

.lai > div > label {
	cursor: pointer;
	margin: 0px;
	font-weight: 400;
}
.lai .help-block {
	display: inline-block;
	float: right;
}

/* LOGIN STYLES -------------------------------------------------- */
#signin {
	display: block;
	background-color: #ffffff;
	margin: 0px auto;
	border-radius: 4px;
	border: 1px solid #D8DDE6;
	color: #16325c;
	width: 300px;
	padding: 20px;
}
#signin label {
	font-size: 12px;
	font-weight: 400;
	color: #54698d;
	margin: 0px;
}
#signin input[type="text"], #signin input[type="password"] {
	display: block;
	width: 100%;
	padding: 10px;
	margin-top: 8px;
	margin-bottom: 16px;
	height: 36px;
	border: 1px solid #D8DDE6;
	border-radius: 4px;
	background-color: #ffffff;
	font-family: SFS, Arial, sans-serif;
	box-sizing: border-box;
	-webkit-appearance: none;
	font-size: 14px;
}
#signin input[type="submit"] {
	width: 100%;
	background-color: #93BA47;
	color: white;
	font: 22px/40px "Roboto Condensed", Arial, Helvetica, sans-serif;
	text-shadow: 0px -1px 0px #607725;
	transition: all 0.1s;
	border: 1px solid transparent;
	border-radius: 4px;
}
.vspace { height: 50px; }
.error {
	color: red;
	text-align: center;
	padding-top: 5px;
	
}
.message_footer {
    top: -48px;
	padding-right: 100px;
    display: block;
    position: relative;
	float: right;
	font-size: 12px;
}

.schedule_format{
	font-weight:200;
	padding-left: 4px;
	/*padding-right: 10px;*/
}

input.right {
   /* float: right;*/
  /*  border-color:#204d74;*/
 	font-weight:200;
    color:#fff;
    background-color: #336699;
   padding-left: 4px;
	padding-right: 4px;

}

.debug {
	color: white;
	font-size: 12px;
	text-align: left;
}

/* END LOGIN STYLES ---------------------------------------------- */
.tree {
	width: 370px;
	height:550px;
	overflow: scroll;
	border: 1px solid #94BA49;
	background-color: white;
}

.map {
	width: 650px;
	height:550px;
	border: 1px solid #94BA49;
}

.help-block {
	font-size: 12px;
	margin-bottom: 0px;
}

.required .control-label:after {
  content:"*";
  font-size: 18px;
  font-weight: 700;
  color:red;
}

/* SITES related styles --------------------------------------------- */
div.create-site .panel-heading {
	margin-top: -10px;
}
div.create-site table.table {
	margin: 0px;
}
div.create-site table.table tr:first-child th {
	font-weight: 700;
}
div.create-site table.table tr:first-child th:last-child {
	text-align: center;
}
div.create-site table.table th {
	background-color: #E9E9E9;
	border: 0px solid transparent;
	text-align: left;
	font-weight: 400;
	padding: 2px 8px;
}
div.create-site table.table tr.editing {
	background-color: #8BB245;
	color: white;
}
div.create-site table.table tr:hover {
	background-color: #E7F3D0;
}
div.create-site table.table td {
	font-size: 12px;
	line-height: 0.9;
	text-align: left;
	padding: 3px 8px;
}
div.create-site table.table td:last-child {
	text-align: center;
}
div.create-site table.table tr td a {
	cursor: pointer;
	color: #009C00;
	font-size: 1.1em;
	font-weight: 700;
	cursor: pointer;
	text-decoration: underline;
}
div.create-site table.table tr td a:hover {
	color: #5CB85C;
}
div.create-site table.table tr.editing td a {
	color: white;
}

div.add-edit-site form {
	width: 500px;
	font: 14px Arial, Helvetica, sans-serif;
	margin: 15px;
}
div.add-edit-site .col-md-1 {
	width: 90%;
}
div.add-edit-site .col-md-2 {
	width: 42%;
}
div.add-edit-site .form-group {
	margin-bottom: 15px;
}
div.add-edit-site .submit-buttons {
	text-align: right;
}
div.add-edit-site .submit-buttons input.add-edit-btn {
	padding: 10px 20px;
	margin-left: 15px;
	border-radius: 10px;
}

input.add-edit-btn,
.config input[type="submit"]
 {
	border: 0px solid transparent;
	outline: 0px solid transparent;
	padding: 10px;
	background-color: #7EAF50;
	color: white;
	text-align: left;
	font-size: 1.1em;
	font-weight: 400;
}
input.add-edit-btn:hover,
.config input[type="submit"]:hover {
	background-color: #99BF52;
	color: yellow;
}
input.add-edit-btn:active,
.config input[type="submit"]:active {
	background-color: #7EAF50;
	color:yellow;
}

div.create-site .bootstrap-switch.bootstrap-switch-mini span {
	padding: 0px;
	font-size: 10px;
}

/* --------------------------------------------- */

.panel {
	position: relative;
}

.panel .collapsing .control_advanced {
	display: none;
}

.control_advanced {
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 0px;
	padding: 11px;
	color: #587b1d;
	font-size: 13px;
	font-weight: 400;
}

.control_advanced input {
	float: left;
	margin: 0px 5px;
}
.control_advanced:hover {
	text-decoration: underline;
}

.config div.panel-heading {
	padding: 0px;
}
.config h4.panel-title {
}
.config h4.panel-title a:hover {
}
.config h4.panel-title a {
	display: inline-block;
	width: 98%;
	text-decoration: none;
	padding: 10px;
    background-color: #dbecb9;
}
.config h4.panel-title a:hover {
    background-color: #bcd68c;
}

